* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  color: #4b4b4b;
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
}

h1 {
  color: #ebcb80;
  display: inline-block;
  font-size: 36px;
  margin: 55px 0 58px;
}

h2 {
  margin: 0;
  line-height: 48px;
  font-size: 44px;
  text-align: center;
  letter-spacing: -0.0363636em;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  height: 100%;
  margin: auto;
  width: 1130px;
  position: relative;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: none;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v18-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v18-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
