.navbar {
  background-color: #4b4b4b;
  height: 156px;
  width: 100%;
}

.navbar ul {
  float: right;
  margin-top: 67px;
}

.navbar ul > li {
  display: inline-block;
}

.navbar ul > li a {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.0555556em;
  padding: 22px;
}

.navbar ul > li a:hover {
  color: #f1f1f1f1;
}

.navbar ul > li [role="button"] {
  border: 2px solid #ffffff;
  border-radius: 50px;
  letter-spacing: 0.05em;
  padding: 30px;
}

.navbar ul > li [role="button"]:hover {
  color: #4b4b4b;
  background-color: #ffffff;
}
