.plan {
  background-color: #4b4b4b;
  padding-top: 68px;
  padding-bottom: 116px;
  text-align: center;
  color: #ffffff;
}

#plan-title {
  color: #ebcb80;
  padding-bottom: 52px;
}

#plan-silver {
  background: linear-gradient(
      221.37deg,
      rgba(255, 255, 255, 0.7) 1.05%,
      rgba(255, 255, 255, 7e-5) 86.93%
    ),
    #4b4b4b;
  background-blend-mode: soft-light;
}

#plan-gold {
  background: linear-gradient(
      222.27deg,
      rgba(255, 255, 255, 0.496575) -4.75%,
      rgba(255, 255, 255, 0.0001) 95.25%
    ),
    #ebcb80;
  background-blend-mode: soft-light;
  color: #4b4b4b;
}

#plan-platinum {
  background: linear-gradient(
      220.77deg,
      rgba(0, 0, 0, 0.0001) 0.34%,
      rgba(0, 0, 0, 0.401127) 92.22%
    ),
    #4b4b4b;
}

.plan .card-title {
  margin: 40px auto 30px;
}

#plan-gold .card-title {
  color: #4b4b4b;
}

#plan-gold button {
  background: #4b4b4b;
  color: #ffffff;
}

#plan-gold button:hover {
  background: linear-gradient(#6f6f6f, #4b4b4b);
}

.plan-price {
  line-height: 48px;
  font-size: 64px;
  letter-spacing: -0.0363636em;
  margin: 0 auto; /* ignore margin 64px */
}

.plan-price sup {
  line-height: normal;
  font-size: 24px;
  padding-right: 10px;
}

.plan-year {
  line-height: 27px;
  font-size: 18px;
  letter-spacing: 0.0555556em;
  margin: 15px auto 23px;
}

.plan-detail p {
  line-height: 24px;
  margin: 0;
}

.plan button {
  margin-top: 30px;
}
