.team {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 24px;
}

#team-title {
  padding-bottom: 57px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member-info {
  width: 30%;
  height: 162px;
  text-align: left;
  display: inline-block;
  margin-bottom: 80px;
}

.img-wrap {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 17px;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.todd {
  object-position: 0 0;
}

.hopkins {
  object-position: -80px 0;
}

.graham {
  object-position: 0 -80px;
}

.wong {
  object-position: -80px -80px;
}

.meyer {
  object-position: -210px -40px;
}

.vargars {
  object-position: -40px -210px;
}

.member-info-detail {
  display: inline-block;
  width: 70%;
}

.member-name {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.member-position {
  margin: 0;
  line-height: 26px;
}

.member-introduce {
  line-height: 24px;
}
